@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/homepage/homepage.css" asp-append-version="true" />
</head>
<div class="text-center">
    <img class="home-logo" src="~/logo.png" width="250" />
    <div class="main-buttons">
        <button class="main-button">Lag ett spill</button>
        <button class="main-button">Delta i quiz</button>
        <button class="main-button">Postansvarlig</button>
    </div>
</div>
