@{
    ViewData["title"] = "Lag konkurranse";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/creategamepage/site.css" asp-append-version="true" />
</head>

<div>
    <div class="pageTitle">
        <h3>
            Lage konkurranse eller quiz
        </h3>
    </div>
</div>