@{
    ViewData["title"] = "Postansvarlig";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/postcoordinatorpage/site.css" asp-append-version="true" />
</head>

<div>
    <div class="pageTitle">
        <h3>
            For Postansvarlig
        </h3>
    </div>
</div>