@{
    ViewData["Title"] = "Forside";
}
<head>
    <link rel="stylesheet" href="~/css/homepage/homepage.css" asp-append-version="true" />
</head>
<div class="text-center">
    <img class="home-logo" src="~/logo.png" width="250" />
    <div class="main-buttons">
        <button class="main-button">
            <a href="">
                Lag ett spill
            </a>
        </button>
        <button class="main-button">
            <a href="">
                Delta i quiz
            </a>
        </button>
        <button class="main-button">
            <a href="">
                Postansvarlig
            </a>
        </button>
    </div>
</div>