.home-logo{
    margin-bottom: 20px;
}

.main-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-buttons a {
    color: black;
}

.main-buttons a:hover {
    color: grey;
}

.main-buttons a:visited {
    text-decoration: none;
}

.main-button {
    height: 30px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 20px;
}
