<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<footer class="footer">
    <div class="top">
        <a>
            &copy; 2024 - Munkås
            </a>
    </div>
    <div class="button">
        <a class="footer-button" asp-action="Index" asp-controller="TermsPage">Vilkår</a>
        |
        <a class="footer-button" asp-action="Index" asp-controller="PrivacyPage">Personvern</a>
    </div>
</footer>