<header>
    <nav class="navbar">
        <a class="navbar-brand" asp-area="" asp-controller="StartApp" asp-action="Index">
            <img class="icon" src="../home.svg"/>
            <span class="link-text">SpeiderGames</span>
        </a>
        <a class="nav-administrer" asp-area="" asp-controller="AdminPage" asp-action="Index">
            <span class="link-text">Administrer</span>
            <img class="icon" src="../settings.svg"/>
        </a>
    </nav>
</header>