<header>
    <nav class="navbar">
        <a class="navbar-brand" asp-area="" asp-controller="StartApp" asp-action="Index">
            SpeiderGames
        </a>
        <a class="nav-administrer" asp-area="" asp-controller="AdminPage" asp-action="Index">
            Administrer
        </a>
    </nav>
</header>