@{
    ViewData["title"] = "Lag konkurranse";
}
@model Game

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/creategamepage/site.css" asp-append-version="true" />
</head>

<div>
    <div class="pageTitle">
        <h3>
            Skriv navn, antall lag og poster
        </h3>
    </div>
    <div class="CreateGame">
        @using (Html.BeginForm("CreateGame", "Game", FormMethod.Post))
        {
            <label for="GameName">Navn på Konkurransen:</label>
            <br />
            @Html.TextBoxFor(model => model.GameName, new { required = "required" })
            <br />
            
            <label for="NumberOfTeams">Antall Lag:</label>
            <br />
            @Html.TextBoxFor(model => model.NumberOfTeams, new { type = "number", required = "required" })
            <br />
        
            <label for="NumberOfPosts">Antall Post:</label>
            <br />
            @Html.TextBoxFor(model => model.NumberOfPosts, new { type = "number", required = "required" })
            <br />
            
            <input class="createInput" type="submit" value="Neste" />
        }
    </div>
</div>