@{
    ViewData["title"] = "Lag konkurranse";
}
@model Game

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/creategamepage/site.css" asp-append-version="true" />
</head>

<div>
    <div class="CreateGameTitle">
        <h1>Navn: @Model.GameName</h1>
        <h3>Skriv inn navn på lag</h3>
        <p>X er antall poster, så er navnet på postene: PostX</p>
    </div>
    <div class="CreateGame">
        @using (Html.BeginForm("CreateTeamAndPosts", "CreateTeamsAndPosts", FormMethod.Post))
        {
            @for (int i = 0; i < Model.NumberOfTeams; i++)
            {
                <div>
                    <label for="Teams[@i].TeamName">Lag @(i + 1) Navn:</label>
                    <br/>
                    <input type="text" name="Teams[@i].TeamName" required />
                    <br />
                </div>
            }
        
            <input class="createInput" type="submit" value="Lag Konkurranse" />
        }
    </div>
</div>