@{
    ViewData["Title"] = "Personvernerklæring for SpeiderGames";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/privacypage/privacypage.css" asp-append-version="true" />
</head>
<div class="content">
    <h1>Personvernerklæring for</h1>
    <h1>SpeiderGames</h1>
    
    <h3>Innledning</h3>
    <p>
        Denne personvernerklæringen gjelder for SpeiderGames, tilgjengelig på play.speider.games. Vårt formål med denne erklæringen er å informere våre brukere om hvilke personopplysninger vi samler inn, hvordan disse blir behandlet, samt hvilke rettigheter du har som bruker av vårt nettsted.
    </p>
    
    <h3>Datainnsamling</h3>
    <p>
        Informasjon du gir oss: Den eneste informasjon som er regnet som personlig informasjon som blir samlet inn er telefonnummeret ditt ved registrering av en konkurranse.
    </p>
    <p>
        Vi bruker bare cookies for å samle informasjon om hvilke konkurranse som er valgt for postansvarlige og koden som er brukt for admin-grensesnittet.
    </p>
    
    <h3>Bruk av informasjon</h3>
    <p>
        De innsamlede dataene kan brukes til følgende formål:
    </p>
    <ul>
        <li>For å forbedre brukeropplevelsen din</li>
    </ul>
    
    <h3>Deling av informasjon</h3>
    <p>
        Vi selger ikke, bytter eller overfører på annen måte dine personopplysninger til utenforstående parter. 
        Dette inkluderer ikke betrodde tredjeparter som bistår oss i driften av vår nettside, utføring av vår virksomhet, eller tjeneste til deg, så lenge disse partene er enige i å holde informasjonen konfidensiell.
    </p>
    
    <h3>Dine rettigheter</h3>
    <p>
        Som bruker av vårt nettsted har du rett til å be om innsyn, retting, eller sletting av de personopplysninger vi har om deg. 
        Du har også rett til å protestere mot behandlingen av dine data og til å begrense slik behandling.
    </p>
    
    <h3>Sikkerhet</h3>
    <p>
        Vi er forpliktet til å sikre dine personopplysninger. Vi tar i bruk passende sikkerhetstiltak for å beskytte mot uautorisert tilgang, endring, avsløring eller ødeleggelse av dine personlige data.
    </p>
    
    <h3>Endringer i vår personvernerklæring</h3>
    <p>
        Vi kan oppdatere vår personvernerklæring fra tid til annen. 
        Vi vil varsle deg om eventuelle endringer ved å oppdatere den nye personvernerklæringen på vår nettside. 
        Vi oppfordrer deg til regelmessig å besøke denne siden for å holde deg informert om eventuelle endringer.
    </p>
    
    <h3>Kontakt oss</h3>
    <p>
        Hvis du har spørsmål om denne personvernerklæringen, kan du kontakte oss på: <a class="button" href="mailto:hallv-a@hotmail.no">hallv-a@hotmail.no</a>.
    </p>
    
    <a class="DeleteCookiesAndAccepted" asp-controller="PrivacyPage" asp-action="DeclinePrivacy">Slett godkjenning av Personvernerklæring og alle cookies</a>
</div>
