@{
    ViewData["title"] = "Gratz!!!";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div>
    <div class="pageTitle">
        <h3>
            Grattis! Du klarte å lage en konkurranse
        </h3>
        
        Gå til administrasjonssiden og skriv inn navn på konkurransen for å se: <a class="privacy-button" asp-controller="AdminPage">Admin</a>
    </div>
</div>