@{
    ViewData["title"] = "Konkurranse laget!";
}
 
@model Game

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/successpage/site.css" asp-append-version="true" />
</head>
<div>
    <div class="pageTitle">
        <h3>
            Konkurranse laget!
        </h3>
    </div>
    <div class="pageSection">
        Gå til administrasjonssiden og skriv inn navn på konkurransen for å se poeng: <a class="privacy-button" asp-controller="AdminPage">Admin</a>
    </div>
    <div class="pageSection">
        <br/>
        Navn: @Model.GameName
        <br/>
        Antall lag: @Model.NumberOfTeams
        <br/>
        Antall poster: @Model.NumberOfPosts
        <br/>
        Kode: Send på melding!
    </div>
</div>