@{
    ViewData["title"] = "Delta";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/takepartpage/site.css" asp-append-version="true" />
</head>
<div>
    <div class="pageTitle">
        <h3>
            Delta i en quiz
        </h3>
    </div>
</div>