@{
    ViewData["Title"] = "Vilkår og betingelser!";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/termsandconditionpage/termsandconditionpage.css" asp-append-version="true" />
</head>
<div class="content">
    <h1>@ViewData["Title"]</h1>

    <p>
        Velkommen til SpeiderGames. Ved å bruke vår nettside, [websitens URL], godtar du å være bundet av følgende vilkår og betingelser. Les dem nøye.
    </p>
    
    <h3>Generelt</h3>
    <p>
        Denne nettsiden drives av Munkås. 
        På hele denne nettsiden refererer uttrykkene “vi”, “oss” og “vår” til Munkås. 
        Munkås tilbyr denne nettsiden, inkludert all informasjon, verktøy og tjenester tilgjengelig fra denne nettsiden til deg, brukeren, betinget av din aksept av alle vilkår, betingelser, retningslinjer og merknader angitt her.
    </p>
    
    <h3>Om konkurransene</h3>
    <ul>
        
        <li>
            Vår nettside tilbyr en plattform hvor lag kan konkurrere i forskjellige konkurranser ved å poste innhold relatert til konkurransens tema.
        </li>
        <li>
            Hvert innlegg som et lag gjør vil tildeles poeng basert på kriterier forhåndsbestemt av oss og beskrevet på konkurranse-spesifikke sider.
        </li>
        <li>
            Lagene med de høyeste poengsummene ved konkurransens avslutning kan bli tildelt premier eller anerkjennelser som beskrevet på konkurranse-spesifikke sider.
        </li>
    </ul>
    
    <h3>Bruk av nettsiden</h3>
    <ul>
        <li>
            Ved å gå inn på og bruke denne nettsiden, samtykker du i å overholde disse vilkårene og betingelsene.
        </li>
        <li>
            Du må ikke bruke våre tjenester til ulovlige eller uautoriserte formål.
        </li>
        <li>
            Du må ikke overføre noen ormer eller virus eller kode av en destruktiv natur.
        </li>
    </ul>
    
    <h3>Endringer i vilkårene</h3>
    <p>
        Vi forbeholder oss retten til å oppdatere, endre eller erstatte deler av disse vilkårene og betingelsene ved å poste oppdateringer og/eller endringer på vår nettside. 
        Det er ditt ansvar å sjekke denne siden periodisk for endringer. 
        Din fortsatte bruk av eller tilgang til nettsiden etter posting av eventuelle endringer innebærer aksept av disse endringene.
    </p>
    
    <h3>Dataintegritet og rettferdig spill</h3>
    <ul>
        <li>
            Vi forbeholder oss retten til å kontrollere innleggenes innhold for å sikre at de overholder våre retningslinjer og standarder for rettferdig spill.
        </li>
        <li>
            Vi kan diskvalifisere ethvert lag som engasjerer seg i bedrageri, misbruk eller annen manipulerende adferd.
        </li>
    </ul>
    
    <h3>Personopplysninger</h3>
    <p>
        Vi har en egen side for personvern: <a class="button" asp-controller="PostCoordinatorPage" asp-action="Index">Personvern</a>
    </p>
    
    <h3>Feil, unøyaktigheter og utelatelser</h3>
    <p>
        Det kan forekomme informasjon på vår nettside som inneholder typografiske feil, unøyaktigheter eller utelatelser. 
        Vi forbeholder oss retten til å rette opp eventuelle feil, unøyaktigheter eller utelatelser, og til å endre eller oppdatere informasjon eller kansellere bestillinger hvis noen informasjon på nettsiden eller på noen relatert nettside er unøyaktig til enhver tid uten forhåndsvarsel.
    </p>
    
    <h3>Ansvarsfraskrivelse; Begrensning av ansvar</h3>
    <p>
        Vi garanterer ikke at kvaliteten på noen tjenester, informasjon, eller annet materiale oppnådd av deg vil møte dine forventninger, eller at eventuelle feil i tjenesten vil bli korrigert.
    </p>
    
    <h3>Kontaktinformasjon</h3>
    <p>
        Spørsmål om vilkårene og betingelsene bør sendes til oss på <a class="button" href="mailto:hallv-a@hotmail.no">hallv-a@hotmail.no</a>.
    </p>
</div>