.title{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.contente{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.PostCoordinatorSearch{
    display: flex;
    justify-content: center;
}

.SubmitButton{
    margin-top: 10px;
}

.UpdatePoints{
    display: flex;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 200px; 
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 16px; 
}
