.pageTitleSuccess h3, h5{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.pageSection{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.pageSection a {
    color: black;
}