@{
    ViewData["title"] = "Admin";
}

@model Game

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/adminpage/site.css" asp-append-version="true" />
</head>

<div>
    <div class="pageTitle">
        <h3>
            Administrere en konkurranse
        </h3>
        
        <div class="adminSearch">
            <form method="post" asp-controller="AdminPage" asp-action="Index">
                <label for="GameCode">Skriv inn coden på konkurransen:</label>
                <br />
                <input type="text" id="GameCode" name="GameCode" required/>
                <br />
                <button class="stylish-button" type="submit">Hvis oversikt</button>
            </form>
        </div>
    </div>
</div>