@{
    ViewData["title"] = "Admin";
}

@model UpdatePointsViewModel

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/successpage/site.css" asp-append-version="true" />
</head>

<div>
    <div class="pageTitleSuccess">
        <h3>
            Endre poeng i konkurranse: @Model.GameName
        </h3>
        <h5>Lag: @Model.TeamName</h5>
        <h5>Post: @Model.PostName</h5>
        <h5>Poeng: @Model.Points</h5>
        @if (Model.LogUpdate == true)
        {
            <h5>Ble loggen oppdatert: Ja</h5>
        }
        else
        {
            <h5>Ble loggen oppdatert: Nei</h5>
            <p>
                Poeng ble oppdatert men ikke loggen, så skriv ned denne oppdateringen.
            </p>
        }
    </div>
    <a class="stylish-button" asp-area="" asp-controller="AdminPage" asp-action="Index">
        Tilbake
        </a>
</div>