@{
    
}

@model RequestErrorModel

<div>
    <h1>
        Finner ikke en konkurranse med kombinasjonen @Model.GameName og @Model.GameCode
    </h1>
    
    <button class="main-button">
        <a class="container" asp-area="" asp-controller="PostCoordinatorPage" asp-action="Index">
            Prøv igjen?
        </a>
    </button>
</div>