.gameDetailsTitle{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.gameDetails{
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.adminSearch{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

table {
    border-collapse: collapse;
}

tr th, tr td {
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #000;
    padding: 8px;
}


@media (max-width: 768px) {
    .small-screen{
        display: none;
    }
}

.button-container {
    display: flex; /* Use flexbox for easy alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set to full viewport height to ensure vertical centering */
}

.stylish-button {
    background-color: #66a457; /* Green background */
    color: #fff; /* White text */
    padding: 10px 20px; /* Top and bottom padding, Left and right padding */
    font-size: 16px; /* Text size */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Hand cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for the hover effect */
    text-align: center; /* Center the text inside the button */
    display: inline-block; /* Allows the button to be sized according to its content */
    text-decoration: none; /* Removes underline from links if you use <a> tag instead */
    margin-top: 15px;
}

.stylish-button:hover {
    background-color: #559d3d; /* Darker shade of green on hover */
}
.SubmitButton{
    margin-top: 10px;
}

.UpdatePoints{
    display: flex;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.contente{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.EditPosts{
    display: flex;
    flex-direction: column;
}

.AddPost{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Hand cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for the hover effect */
    text-align: center; /* Center the text inside the button */
    display: inline-block; /* Allows the button to be sized according to its content */
    text-decoration: none;
    background-color: #66a457;
    color: #fff; /* White text */
}

.AddPost:hover {
    background-color: #559d3d; /* Darker shade of green on hover */
}

.DeletePost{
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Hand cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for the hover effect */
    text-align: center; /* Center the text inside the button */
    display: inline-block; /* Allows the button to be sized according to its content */
    text-decoration: none;
    margin-left: 10px;
    background-color: #b14646;
    color: #fff; /* White text */
}

.DeletePost:hover{
    margin-left: 10px;
    background-color: #a12524;
}

.DeleteTeam{
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Hand cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for the hover effect */
    text-align: center; /* Center the text inside the button */
    display: inline-block; /* Allows the button to be sized according to its content */
    text-decoration: none;
    background-color: #b14646;
    color: #fff; /* White text */
}

.DeleteTeam:hover{
    background-color: #a12524;
}

/* Targeting the specific cell to modify borders */
.no-border {
    border-top: none; /* Removes the top border */
    border-bottom: none; /* Removes the bottom border */
    border-left: none; /* Removes the left border */
    /* Right border is kept, assuming you still want it */
}

.AddTeamButton{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Hand cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for the hover effect */
    text-align: center; /* Center the text inside the button */
    display: inline-block; /* Allows the button to be sized according to its content */
    text-decoration: none;
    background-color: #66a457;
    color: #fff; /* White text */
}

.AddTeamButton:hover {
    background-color: #559d3d; /* Darker shade of green on hover */
}

.AddTeamForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}